/.venv/
yolov3.cfg
yolov3.weights
yolov3-tiny.cfg
yolov3-tiny.weights
.yolov3.*
yolo*
*.xml
yolov8*
.env
*.ini
/Classes/road_images/
/.idea/
/Training/Classification/data/
/Training/ObjectClassification/data/
/runs